/*********** PRINT PAGE *************/

body{
    background-color: white;
    font-family: 'Sansita', sans-serif;
    color: black;
}

/*********** RECIPE PAGE *************/

/* SEARCH CONTAINER - INPUT BAR & FEED.ME BUTTON */
#searchContainer{
    display: none;
}


/* RECIPE CONTAINER */
#recipeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* RECIPE NAME */
h3{
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}


/* RECIPE CARD ELEMENTS */
#imageContainer{
    display: none;
}

#ingredientsContainer{
    width:200px;
    height:600px;
    text-align: right;
    font-size: medium;
    padding-left: 2px;
}
#directionsContainer{
    width:400px;
    height:600px;
    font-size: medium;
    font-style: italic;
    padding-left: 10px;
    padding-right:10px;
    text-align: left;
}

/* INGREDIENTS */
h4{
    margin: 1px;
}

button {
    display: none;
}
