body{
    background-image: url("./assets/EDITEDBCKGRND.png");
    background-color: #ffcd01;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Sansita', sans-serif;
    text-align: center;
    color: black;
}


/* CONCEPT CONTAINER */
.page1content {
    margin-top: 380px;
    margin: center;
}


/* SEARCH CONTAINER - INPUT, FEED.ME & SURPRISE.ME BUTTONS */
#searchContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-top: 150px;
    width: 500px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.4);
    
}

#recipeNameContainer{
    height: 60px;
    width: 1240px;
    font-size: x-large;
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.4);

}


/* PLACEHOLDER EDITS  */ /* https://www.codeinwp.com/snippets/change-placeholder-styles-html-inputs-with-css/ */
::placeholder {
    font-style: italic;
}


/* RECIPE CONTAINER */
#recipeContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* CARD CONTAINER */

#imageContainer{
    background-color: rgba(255, 255, 255, 0.4);
    width:620px;
    height:600px;
}
#ingredientsContainer{
    min-height: 500px;
    max-height: 750px;
    width:200px;
    height:600px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: medium;
}

#directionsContainer{
    background-color: rgba(255, 255, 255, 0.4);
    width:400px;
    height:600px;
    font-size: medium;
    font-style: italic;
    padding-left: 10px;
    padding-right:10px;
    overflow:scroll; /* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Overflowing_content */


}

img{ 
    max-width: 550px;
    max-height: 530px;
    margin-top: 35px;
    justify-content: center;
    align-items: center;
}

/* CONCEPT BLURB */
h1{
}


/* CONCEPT PARENTHESIS */
h2{
    font-style: italic;
    font-size: medium;    
}

/* RECIPE NAME */
h3{
    font-size: larger;
}


/* INGREDIENTS */
h4{
    /* font-size: x-small; */
    margin: 1px;
}

button {
    margin: center;
    border-radius: 6px;
    border-width: 1px;
    font-family: 'Sansita', sans-serif;
    background-color: white;
}
/* ROUNDING INPUT BUTTONS */
input{
    border-radius: 6px;
    border-width: 1px;
    font-family: 'Sansita', sans-serif;
}

/* ISOLATING INPUT BAR */
#inputBar{
    border-radius: 0px;
    border-width: 2px;
    width:200px;

}